
<%# <script src="//code.jquery.com/jquery-1.11.3.min.js"></script> %>

  <!-- トップページ画像 -->
  <div class="main-visual">
    <div class="main-visual-content">
      <% if flash[:success] %>
        <p style="color: green;"><%= flash[:success] %></p>
      <% end %>
    </div>
  </div>


  <!-- About -->

  <div style="margin-top:100px;">
    <h1 class="page-title js-smooth-scroll">About</h1>
    <div style="margin: 0 auto; height: 150px; width: 500px;" >
      <h2 style="text-align: center;">Dow!とは</h2>
      <div style="margin-top: 30px; font-size: 18px; text-align: center;">このサイトは何らかの理由でわんちゃんのお散歩に行けない人とわんちゃんを飼いたいけど、飼えない人を繋げるお散歩代行マッチングサイトです。</div>
    </div>

    <div section class="clearfix">
      <div class="about1"></div>
      <div style="width: 300px; float: right; margin-right: 200px;">
        <h3 style="text-align: center;">ご利用手順</h3>
        <div style="margin-top: 30px; font-size: 18px; text-align: center;">
          <p>まずはトップページ右上の「sign up」を押していただき、会員登録をお願いします。登録後、お散歩を依頼したい方はRecruitページから依頼してください。</p>
          <p>代行でお散歩にいきたい方はRecruitページから依頼を確認し、応募してください。応募が依頼者に承認されたら、マッチングとなります。</p>
        </div>
      </div>
    </div>

    <div section class="clearfix">
      <div class="about2"></div>
      <div style="width: 300px; float: left; margin-left: 200px;">
        <h3 style="text-align: center;">walkerとは</h3>
        <div style="margin-top: 30px; font-size: 18px;text-align: center;">
          <p>お散歩を代行する人のことを指します。わんちゃんが大好きだが飼えない方や、わんちゃんを飼う前に触れ合ってみたい方などにおすすめです。</p>
          </div>
      </div>
    </div>

    <div section class="clearfix">
      <div class="about3"></div>
        <div style="width: 300px; float: right; margin-right: 200px;">
          <h3 style="text-align: center;">注意事項</h3>
          <div style="margin-top: 30px; font-size: 18px; text-align: center;">
          <p>わんちゃんのお散歩に必要な道具（リード・排便グッズ・飲み物）等は依頼者様がご用意願います。</p>
          <p>お散歩を代行される方は依頼者の要望に沿うようお願いします。（人が苦手な場合は人混みが多い場所を避けるなど）</p>
          </div>
        </div>
    </div>
  </div>


  <%# <!--  Aboutへスクロール -->
<script>
$(function(){
  // #で始まるアンカーをクリックした場合に処理
  $('a[href^=#]').click(function(){
    // 移動先を0px調整する。0を30にすると30px下にずらすことができる。
    var adjust = -150;
    // スクロールの速度
    var speed = 400; // ミリ秒
    // アンカーの値取得
    var href= $(this).attr("href");
    // 移動先を取得
    var target = $(href == "#" || href == "" ? 'html' : href);
    // 移動先を調整
    var position = target.offset().top + adjust;
    // スムーススクロール
    $('body,html').animate({scrollTop:position}, speed, 'swing');
    return false;
  });
});
</script> %>
