// Place all the styles related to the walkers/recruits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// table {
//   width: 100%;
// }
// table th {
//   white-space: nowrap;
//   width: 100px;
// }

// table, th, td {
//   border: none;
// }

#show-table {
  border-collapse: collapse;
  width: 100%;
}

#show-table, td, th {
  border-bottom: 1px solid black;
  font-size: 20px;
  text-align: center;
}

