// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-visual {
  width: 100%;
  height: 1000px;
  background-image: url("/images/man-3245032_1920.jpg");
  background-size: cover;
}
