// Place all the styles related to the workers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.walker-content {
  float:left;
  margin: 0 15px;
}


.box-maru {
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  color: black;/*文字色*/
  background: #FFF;
  border: solid 2px lightseagreen;/*線*/
  border-radius: 10px;/*角の丸み*/
}
.box-maru div {
  margin: 0; 
  padding: 0;
}

.introduction-content {
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  color: black;/*文字色*/
  background: #FFF;
  border: solid 1px black;/*線*/
  border-radius: 10px;/*角の丸み*/
  width: 400px;
  text-align:center;
   margin: 0 auto;
}

.fly {
  background-color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin: 10px 0 0 0;
}
.fly:hover {
  background-color:  lightseagreen;
  color: white;
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}

.circle-avatar{
  text-align: center;
  margin-bottom: 20px;
}

.avatar {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}