// Place all the styles related to the workers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.walker-content {
  float:left;
  margin: 0 15px;
}


.box-maru {
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  color: black;/*文字色*/
  background: #FFF;
  border: solid 3px orange;/*線*/
  border-radius: 10px;/*角の丸み*/
}
.box-maru div {
  margin: 0; 
  padding: 0;
}

.introduction-content {
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  color: black;/*文字色*/
  background: #FFF;
  border: solid 1px black;/*線*/
  border-radius: 10px;/*角の丸み*/
  width: 400px;
  text-align:center;
   margin: 0 auto;
}