<div class="white-box complete-page">
	<div class="container unsubscribe">
		<<div class="page-title">退会完了</div>
		<h2 class="unsubscribe_messege"  style="text-align: center;">退会が完了しました。</h2>
		<p class="unsubscribe_messege"  style="text-align: center;">これまでAcolleをご愛顧ご愛用いただきまして、誠にありがとうございます。</p>
		<p class="unsubscribe_messege"  style="text-align: center;">また機会が御座いましたらご登録、ご利用頂ければ幸いです。</p>
		<p class="unsubscribe_messege"  style="text-align: center;">ご愛顧頂き、誠にありがとうございました。</p>
		</br>
		<div style="text-align: center;">
			<%= link_to "ホームへ", root_path, class:"btn btn-primary" %>
		</div>
	</div>
</div>